body {
  background-color: #eaeff2;
  font-family: 'Montserrat', sans-serif;
}

/* Estilos para la navbar */

nav {
  overflow: hidden;
  border-bottom: solid 1px #d2d2d2;
  }
  
nav ul {
  list-style-type: none;
  font-weight: 700;
  font-size: 20px;
} 

nav ul a {
  float: left;
  color: #2b2b2b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul a:hover {
  background-color: #c2c2c2;
  color: black;
}

/* Estilos para los logos de redes sociales */
.redes-sociales {
  display: flex;
  justify-content: flex-end;
}

.redes-sociales i {
  margin: 0 5px;
  width: 50px;
  height: 30px;
  color: #2b2b2b;
}

.container {
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 70px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}

h3 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards {
  height: 800px;
  width: 1100px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.cards div {
  width: 500px;
  height: 300px;
  background-color: #fafafa;
  

  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.cards div:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}


label {
  font-size: 30px;
  font-weight: bold;
  margin: 40px 20px;
  text-align: center;
}

.cards select {
  width: 300px;
  height: 50px;
  margin: 45px auto;
  border: none;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
}

#sexo {
  font-size: 20px;
}

input {
  text-align: center;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin: 50px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

button {
  width: 400px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-image: linear-gradient(to bottom right, #ed331e, #ff7f50);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


button:hover {
  background-color: #ff7f50;
  background-image: linear-gradient(to bottom right, #ff7f50, #ed331e);
}

.resultado,
.consejos {
  width: 700px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

